
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f3f3f3;
    padding: 50px;
}

h1 {
    font-size: 2em;
    color: #222;
}

p {
    font-size: 1.1em;
    color: #444;
    max-width: 600px;
    margin: 20px auto;
}


.button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
}


.btn {
    padding: 12px 25px;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    width: 200px; 
    display: block; 
    text-align: center;
}

.btn-copy {
    background-color: #808080;
    font-size: 0.9em;     
    padding: 6px 15px;
}

.btn-copy:hover {
    background-color: #5E5C5C;
}

.btn-start {
    background-color: #B33924;
    font-size: 1.8em;     
    padding: 25px 50px;
    width: 350px;
}

.btn-start:hover {
    background-color: #8A2E1D;
}
.btn-back {
    background-color: rgb(4, 170, 60);
    font-size: 0.95em;
    padding: 10px 25px;
}

.btn-back:hover {
    background-color: #027c08;
}
.btn-valid {
    background-color: rgb(4, 170, 60);
    font-size: 0.95em;
    padding: 10px 25px;
}

.btn-valid:hover {
    background-color: #027c08;
}

#code-box {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 30px;
    background: white;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    letter-spacing: 8px;
}

input
{
  height: 60px;
  width: 500px;
  font-size: 3.5em;
  text-align: center;
  border-radius: 10px;
}

