
body {
    background: url("question_marks_background.jpg") no-repeat center center fixed;
    background-size: cover;
    
    /* Ajoute un filtre blanc semi-transparent par-dessus l'image */
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
    
    min-height: 100vh;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    /* background: #f3f3f3; */
    padding: 50px;
}

h1 {
    font-size: 1em;
    color: #222;
}

p {
    font-size: 1.1em;
    color: #444;
    max-width: 600px;
    margin: 20px auto;
}

.foot {
    font-size: 0.7em;
}

.foot-button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
}

.btn {
    padding: 12px 25px;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    width: 200px; 
    display: block; 
    text-align: center;
}

.btn-copy {
    background-color: #808080;
    font-size: 0.9em;     
    padding: 6px 15px;
}

.btn-copy:hover {
    background-color: #5E5C5C;
}

.btn-back {
    background-color: rgb(4, 170, 60);
    font-size: 0.95em;
    padding: 10px 25px;
}

.btn-back:hover {
    background-color: #027c08;
}

.question {
    border-style: solid;
    border-width: 2.3px;
    border-top-color: #566db5;
    border-left-color: #566db5;
    background-color: #7193f8;
    padding: 8px;
    font-size: 1.5em;
    border-radius: 3px;
    display: inline-block; 
    text-align: center;
}

.reponse {
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
}

.btn-rep {
    color: #222;
    display: inline-block;
    background-color: rgb(228, 168, 40);
    font-size: 0.95em;
    padding: 10px 25px;
}

.btn-rep:hover {
    background-color: rgb(191, 141, 33);
}