
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f3f3f3;
    padding: 50px;
}

h1 {
    font-size: 2em;
    color: #222;
}

p {
    font-size: 1.1em;
    color: #444;
    max-width: 600px;
    margin: 20px auto;
}

.foot {
    margin-top: 30px;
    visibility: hidden;
    font-size: 0.7em;
}

.button-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
}


.btn {
    padding: 12px 25px;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    width: 200px; 
    display: block; 
    text-align: center;
}

.btn-copy {
    background-color: #808080;
    font-size: 0.9em;     
    padding: 6px 15px;
}

.btn-copy:hover {
    background-color: #5E5C5C;
}

.btn-start {
    background-color: #B33924;
    font-size: 1.8em;     
    padding: 25px 50px;
    width: 350px;
}

.btn-start:hover {
    background-color: #8A2E1D;
}
.btn-back {
    background-color: rgb(4, 170, 60);
    font-size: 0.95em;
    padding: 10px 25px;
}

.btn-back:hover {
    background-color: #027c08;
}
.btn-valid {
    background-color: rgb(4, 170, 60);
    font-size: 0.95em;
    padding: 10px 25px;
}

.btn-valid:hover {
    background-color: #027c08;
}

#code-box {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 30px;
    background: white;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    letter-spacing: 8px;
}

input
{
    height: 60px;
    width: 500px;
    font-size: 3.5em;
    text-align: center;
    border-radius: 10px;
}


.question {
    border-style: solid;
    border-width: 2.3px;
    border-top-color: #566db5;
    border-left-color: #566db5;
    background-color: #7193f8;
    padding: 8px;
    font-size: 1.5em;
    border-radius: 3px;
    display: inline-block; 
    text-align: center;
}

.reponse {
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
}

.btn-rep {
    color: #222;
    display: inline-block;
    background-color: rgb(228, 168, 40);
    font-size: 0.95em;
    padding: 10px 25px;
}

.btn-rep:hover {
    background-color: rgb(191, 141, 33);
}

block {
    visibility: visible;
    box-sizing: border-box;
    width: 210px;
    border: 3px solid #444;
    border-radius: 0.3em;
    margin-top: 20px;
    position: absolute;
    top: -20px;
    right: 0px;
    bottom: calc(-100%);
    background-color: #d5d5d5;
}

.userList {
    margin-top: 110px;
    list-style-type: none;
    padding: 0;
}

.user {
    font-size: 1.2em;
    padding: 5px;
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.btn-player {
    visibility: hidden;
    margin: 4px 2px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px;
    font-size: 10%;
    cursor: pointer;
    font-weight: bold;
}

.btn-close-player {
    position: absolute;
    top: 20px;
    left: 20px;
}

block h3 {
    position: absolute;
    top: 40px;
    right: 10px;
}
#Answer {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 15px;
    margin-top: 20px;
    width: 100%;

}

.btn-rep {
    color: #222;
    display: inline-block;
    background-color: rgb(228, 168, 40);
    font-size: 40px;         
    font-weight: bold;      
    padding: 20px 40px;     
    width: 80%;
    max-width: 500px;
    border-radius: 12px;
    cursor: pointer;
}

.btn-rep:hover {
    background-color: rgb(191, 141, 33);
}